.About-Main {
    height: 100%;
    width: 100%;
    background-color: lightpink;
    align-content: center;
}

.about-title {
    text-align: center;
    color: darkblue;
    font-size: 26px;
}

.small-sections {
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
}

.small-title {
    color: blueviolet;
    border-bottom: 2px solid cyan;
    font-size: 24px;
    padding-bottom: 10px;
}

.small-text {
    font-size: 16px;
}

@media (max-width: 1024px) {
    .about-title {
        font-size: 20px; 
    }

    .small-title {
        font-size: 18px; 
    }

    .small-text {
        font-size: 12px; 
    }
}

@media (max-width: 768px) {
    .about-title {
        font-size: 16px; 
    }

    .small-title {
        font-size: 14px; 
        padding-bottom: 5px;
    }

    .small-text {
        font-size: 8px; 
    }
}
