
.detail-blog-container {
    display: grid;
    grid-template-columns: auto;
  }
  
  .detail-blog-title {
    margin-bottom: 50px;
    font-style: italic;
    font-size: 32px; 
  }
  
  .detail-blog-body {
    display: flex;
  }
  

  .detail-blog-bottom {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
  }
  

  .detail-blog-tag {
    background-color: rgb(235, 160, 160);
    font-style: italic;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
  }
  

  .detail-blog-likes p {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  .detail-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  .detail-blog-tag {
    background-color: rgb(235, 160, 160);
    color: black; /* Ensure text is visible */
    font-style: italic;
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
  }
  