.Header {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px; 
  border-style:ridge; 
  border-width: 3px; 
  border-color: rgba(0, 123, 255, 0.5); 
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.Header_Left,
.Header_Right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}



