.Footer {
    background-color: lightgray;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Footer button {
    border-color:   transparent;
    width: 150px;
    white-space: nowrap;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}
.Footer button:hover {
    color:red;
}
.Footer_Top, .Footer_Bottom {
    display: flex;
    gap: 100px;
}
.Footer_Bottom button {
    color: gray;
}

@media (max-width: 1024px) {
    .Footer_Top, .Footer_Bottom {
        display: flex;
        gap: 20px;
    }
}
@media (max-width: 600px) {
    .Footer_Top, .Footer_Bottom {
        gap: 0; 
    }

    .Footer button {
        width: 120px; 
        font-size: 12px; 
    }

}
