.profile_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  padding: 20px;
}

.prof_img {
  max-width: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile_description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile_name {
  font-size: 26px;
  margin: 0;
}

.profile_email {
  font-size: 18px;
  color: #888;
}

.profile_settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  gap: 12px;
}

.buttons_wrapper {
  display: flex;
  gap: 10px;
}
