.Header {
    background-color:lightgray;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.Header_Left, .Header_Right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Header_Left {
    margin-left: 30px;
}
.Header_Right {
    margin-right: 30px;
}

.Profile_Button {
 
    border-radius: 15px;
}
.Profile_Button:hover {
    background-size: 120%;
    transition: background-size 0.3s ease; 
}

.Search_Button {
    margin-top: 25px;
    border: none;
    outline: none; 
    font-size: 15px;
    max-width: 200px;
    background-color: lightyellow;
}

@media (max-width: 1024px) { 
    .Header_Left {
        margin-left: 30px; 
    }
    
    .Header_Right {
        margin-right: 30px; 
}
 
}
@media (max-width: 600px) {
    .Header {
    justify-content: center; 
    height: auto; 
    margin: 0;
    padding: 10px; 
    gap: 10px;
}

.Header_Left, .Header_Right {
    margin: 0; 
    gap: 20px; 
}

}