.Header {
  background-color: lightgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header_Left,
.Header_Right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.Header_Left {
  margin-left: 30px;
}
.Header_Right {
  margin-right: 30px;
}

.Profile_Button {
  border-radius: 15px;
}
.Profile_Button:hover {
  background-size: 120%;
  transition: background-size 0.3s ease;
}

.products-btn {
  cursor: pointer;
  padding: 5px 10px;

  border: none;
  border-radius: 5px;
}

.Search_Button {
  height: 30px;
  border: none;
  outline: none;
  font-size: 15px;
  max-width: 200px;
  background-color: lightyellow;
  padding: 5px 10px;
  border-radius: 5px;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .Header_Left {
    margin-left: 30px;
  }

  .Header_Right {
    margin-right: 30px;
  }
}
@media (max-width: 600px) {
  .Header {
    justify-content: center;
    height: auto;
    margin: 0;
    padding: 10px;
    gap: 10px;
  }

  .Header_Left,
  .Header_Right {
    margin: 0;
    gap: 20px;
  }
}
