  
.products-main-container{
  overflow: auto;
}
  .products-main-container::-webkit-scrollbar {
    width: 4px;
  }
  
  .products-main-container::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
  }
  
  .products-main-container::-webkit-scrollbar-track {
    background: pink;
  }
