@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
  @apply relative w-[120px] h-[40px] 
          bg-gray-200 text-black 
          dark:bg-gray-900 dark:text-white 
          flex flex-col items-center justify-center 
          rounded-full cursor-pointer
          border-r-4 border-blue-500
          transition-all duration-300 ease-in-out 
          hover:shadow-[0_0_20px_rgba(0,0,0,0.7),0_0_30px_rgba(0,0,0,0.5)]
          dark:hover:shadow-[0_0_20px_rgba(255,255,255,0.5),0_0_30px_rgba(255,255,255,0.3)];
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif; 
}

