.home_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.Main_Images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.Main_Images img {
  height: 250px;
  width: auto;
}

.Main_Text_First {
  font-size: 24px;
}

.Main_Text_Last {
  font-size: 15px;
  color: gray;
}

.Main_Grid::-webkit-scrollbar-track {
  background: pink;
}

@media (max-width: 1024px) {

  .Main_Images img {
    height: 100px;
    width: auto;
    gap: 20px;
  }
  .Main_Text_First {
    font-size: 16px;
  }
  .Main_Text_Last {
    font-size: 10px;
  }
}
