.Product_List {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Main_Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  justify-items: center;
  align-items: center;
  background-color: pink;
  padding: 10px;
  max-width: 900px;
}
.Main_Grid .description {
  font-size: 20px;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Title-Image img {
  height: 150px;
  width: auto;
}
.Title-Image p {
  font-size: 20px;
  color: darkmagenta;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .Main_Grid {
    gap: 30px;
  }
  .Main_Grid img {
    height: 100px;
    width: auto;
  }
  .Main_Grid .description {
    font-size: 12px;
  }
  .Title-Image p {
    font-size: 14px;
  }
}
.product-card {
  align-items: center;
  border: 1px solid #dcdee0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 28rem;
  padding: 2.5rem;
  text-align: center;
  transition: all .3s;
}
.product__img {
  opacity: .8;
  transition: all .3s;
  width: 15rem;
}
.product__desc, .product__title {
  color: #60636c;
  font-weight: 400;
}
.product__desc {
  display: flex;
  font-size: 1.4rem;
  gap: 2rem;
}
.product__desc, .product__title {
  color: #60636c;
  font-weight: 400;
}
.btn {
  font-feature-settings: "case" on;
  align-items: center;
  background-color: #f03135;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1.4rem;
  gap: .5rem;
  padding: 1.2rem 2rem;
  transition: all .3s;
}