
.BlogMain {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.BlogContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.BlogPageTitle {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.BlogPageTitleDescription {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}

.BlogItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: violet;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: pink;
}

.blog-items-container {
  display: grid;
  grid-template-columns: auto;
}
.BlogForm {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.BlogForm input,
.BlogForm textarea {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}
