.profile_main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  padding: 20px;
}

.profile_image {
  max-width: 180px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile_info h2 {
  font-size: 26px;
  margin: 0;
}

.profile_title {
  font-size: 20px;
  color: #4A4A4A;
}

.profile_location {
  font-size: 18px;
  color: #888;
}

.profile_main_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  gap: 12px;
}

.profile_main_left,
.profile_main_right {
  border: 2px solid violet;
  padding: 20px;
  border-radius: 10px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
